<div class="balance-container">
  <p class="balance-title">
    <ng-content select=".title"></ng-content>
  </p>
  <div class="balance-part">
    <span class="balanc-subtitle">День:</span>
    <span class="balanc-part_day">{{reducePayments(startOfDay) | async | currency: "BYN"}}</span>
  </div>
  <div class="balance-part">
    <span class="balanc-subtitle">Неделя:</span>
    <span class="balanc-part_week">{{reducePayments(startOfWeek) | async | currency: "BYN"}}</span>
  </div>
  <div class="balance-part">
    <span class="balanc-subtitle">Месяц:</span>
    <span class="balanc-part_month">{{reducePayments(startOfMonth) | async | currency: "BYN"}}</span>
  </div>
  <button>
    <ng-content select=".button"> </ng-content>
  </button>
</div>
