<form [formGroup]="payForm" (ngSubmit)="onSubmit()" >
  <label>
    <p>Дата и время:</p>
    <angular2-date-picker formControlName="date" [settings]="settings"></angular2-date-picker>
    <p class="error"
       *ngIf="date.touched && date.errors?.required">
      Заполните поле
    </p>
  </label>
  <br>
  <label>
    <p>Категория:</p>
    <select formControlName="category">
      <option *ngFor="let x of categories | async" [ngValue]="x.id">{{x.title}}</option>
    </select>
    <p class="error"
       *ngIf="category.touched && category.errors?.required">
      Заполните поле
    </p>
  </label>
  <label class="currency">
    <p>Сумма:</p>
    <input formControlName="value" type="number"  min="0" appCurrency>
    <span>BYN</span>
    <p class="error"
       *ngIf="value.touched && value.errors?.required">
      Заполните поле
    </p>
  </label>
  <label>
    <p>Комментарий:</p>
    <input formControlName="text" type="text"  [maxlength]="maxLength+1" placeholder="Пару слов на память...">
    <p class="error"
       *ngIf="text.dirty && text.errors?.maxlength">
      Покороче давай...
    </p>
  </label>
  {{payForm.value | json}}

  <button
    class="button-circle"
    type="submit"
    [disabled]="payForm.invalid"
    [ngStyle]="{backgroundColor: payForm.valid ? mainColor : 'transparent'}">
  +
  </button>

</form>
