<div class="container balance-page">
  <div class="container-total ">
    <p>На Вашем балансе {{countTotalBalance() | async | currency: 'BYN'}}.</p>
  </div>

  <div class="balance container-minus">
    <app-balance-container [payments$]="filterPayments(false)">
      <span class="title">Потрачено</span>
      <div class="button" (click)="goToPage(false)">+</div>
    </app-balance-container>
  </div>

  <div class="balance container-plus">
    <app-balance-container [payments$]="filterPayments(true)">
      <span class="title">Получено</span>
      <div class="button" (click)="goToPage(true)">+</div>
    </app-balance-container>
  </div>
</div>

