<form [formGroup]="catForm">
  <label>
    <span>Категория (управление):</span>
    <input
      id="categoryTitleInput"
      formControlName="title"
      type="text">
    <span class="error" *ngIf="title.errors?.notUnique">
      Название уже существует
    </span>
  </label>

  <label *ngIf="editableStatus">
    <input
      formControlName="newTitle"
      type="text"
      placeholder="Новое название">
    <span class="error" *ngIf="newTitle.errors?.notUnique">
      Название уже существует
    </span>
  </label>

  <div *ngIf="!editableStatus">
    <button
      class="button-rect"
      (click)="add(title.value)"
      [disabled]="title.errors?.notUnique" >
      Добавить
    </button>

    <button
      class="button-rect"
      (click)="switchMenu()"
      [disabled]="title.errors?.required || !title.errors?.notUnique">
      Изменить
    </button>

    <button
      class="button-rect"
      (click)="delete(title.value)"
      [disabled]="title.errors?.required || !title.errors?.notUnique">
      Удалить
    </button>

  </div>
  <div *ngIf="editableStatus">
    <button
      class="button-rect"
      (click)="edit(title.value, newTitle.value)"
      [disabled]="newTitle.errors?.required || newTitle.errors?.notUnique">
      Сохранить
    </button>

    <button
      class="button-rect"
      (click)="switchMenu()">
      Отмена
    </button>
  </div>
</form>

