@import "./src/app/general/styles/variables"

form
  max-width: 24em
  border: 1px solid $backDark
  border-radius: .5em .5em 0 0
  font-size: 1em

  & > button
    max-width: 25%
    margin: 1em
    font-size: 1em
