<section class="page contacts page-container">
  <h1 class="contacts-title">
    <span class="title">{{'Контакты' | uppercase}}</span>
  </h1>
  <div class="contacts-info">
    <div class="contacts-wrapper">
      <span class="contacts-subtitle">{{"Пишите" | uppercase}}</span>
      <span class="contacts-text">info@project.test</span>
    </div>
    <div class="contacts-wrapper">
      <span class="contacts-subtitle">{{"Звоните" | uppercase}}</span>
      <span class="contacts-text">+375 29 800 00 00</span>
    </div>
  </div>
</section>
