<section class="account">
  <div class="account-container__logined">
    <span> Добро пожаловать,<strong>Name</strong> </span>
    <button name="exit">Выйти</button>
  </div>
  <div class="account-container__unlogined">
    <div class="account-content">
      <div class="account-content__top">
        <img src="/assets/diagram.png" alt="diagram">
        <p class="account-title">Узнайте, на что уходят Ваши деньги</p>
      </div>
      <div class="account-content__bottom">
        <p class="account-text">Чтобы начать работу, пожалуйста, зарегистрируйтесь.</p>
        <p class="account-text__small">Регистрация бесплатна и потребует нескольких секунд.</p>
      </div>
    </div>
    <div class="account-tabs">
      <mat-tab-group>
        <mat-tab label="Войти в кабинет">
          <h1>Enter</h1>
        </mat-tab>
        <mat-tab label="Регистрация">
          <h1>Registration</h1>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</section>
<app-cpa-container></app-cpa-container>
