<p>cpa-container works!</p>

<nav mat-tab-nav-bar>
  <a mat-tab-link
     *ngFor="let link of links"
     [routerLink]="link.path"
     routerLinkActive #rla="routerLinkActive"
     [active]="rla.isActive"
     [routerLinkActiveOptions]="{ exact: link.exact }">
    {{link.name}}
  </a>
</nav>

<mat-tab-group>
  <mat-tab  label="One">
    <h1>Some tab content</h1>
  </mat-tab>
  <mat-tab label="Two">
    <h1>Some more tab content</h1>
  </mat-tab>
</mat-tab-group>

<mat-tab-group>
  <mat-tab  label="One">
    <h1>Some tab content</h1>
  </mat-tab>
  <mat-tab label="Two">
    <h1>Some more tab content</h1>
  </mat-tab>
</mat-tab-group>
<router-outlet></router-outlet>
