<section class="account">
  <div *ngIf="!!user" class="account-container__logined">
    <span> Добро пожаловать, <strong>{{user.name}}</strong> </span>
    <button name="exit" (click)="exitUser()">Выйти</button>
  </div>
  <div *ngIf="!user" class="account-container__unlogined">
    <div class="account-content">
      <div class="account-content__top">
        <img src="/assets/diagram.png" alt="diagram">
        <p class="account-title">Узнайте, на что уходят Ваши деньги</p>
      </div>
      <div class="account-content__bottom">
        <p class="account-text">Чтобы начать работу, пожалуйста, зарегистрируйтесь.</p>
        <p class="account-text__small">Регистрация бесплатна и потребует нескольких секунд.</p>
      </div>
    </div>
    <div class="account-tabs">
      <mat-tab-group animationDuration="150ms">
        <mat-tab label="Войти в кабинет">
          <app-login></app-login>
        </mat-tab>
        <mat-tab label="Регистрация">
          <app-registration></app-registration>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</section>
