<form [formGroup]="logForm" (ngSubmit)="onSubmit()" >
  <label>
    <span class="name">Имя: </span>
    <input formControlName="name" type="text">
    <span class="error" *ngIf="name.errors?.required && name.touched">
      Введите имя
    </span>
  </label>

  <label>
    <span>Пароль: </span>
    <input formControlName="password" type="password">
    <span class="error" *ngIf="password.errors?.required && password.touched">
      Введите пароль
    </span>
  </label>


  <button type="submit" [disabled]="!logForm.valid">
    Войти
  </button>

  <span class="error" *ngIf="!isFormValid">
    Введены неверные данные.
  </span>

</form>
