<form [formGroup]="regForm" (ngSubmit)="onSubmit()">
    <label>
    <span class="name">Имя:</span>
    <input formControlName="name" type="text">
    <ng-container *ngIf="name.touched">
      <span class="error"
         *ngIf="name.errors?.required">
        Введите имя
      </span>
      <span class="error"
         *ngIf="name.errors?.notUnique">
        Это имя уже занято
      </span>
    </ng-container>
  </label>

  <label>
    <span>Пароль: </span>
    <input
      [ngClass]="{'ng-valid': confirmPassword.value === password.value,
        'ng-invalid': confirmPassword.value !== password.value}"
      formControlName="password"
      type="password">
    <ng-container *ngIf="password.touched">
      <span class="error"
         *ngIf="password.errors?.required">
        Введите пароль
      </span>
      <span class="error"
         *ngIf="password.errors?.minlength">
        Слишком короткий пароль
      </span>
    </ng-container>
  </label>

  <label>
    <span>Пароль (повтор):</span>
    <input
      [ngClass]="{'ng-valid': confirmPassword.value === password.value,
        'ng-invalid': confirmPassword.value !== password.value}"
      formControlName="confirmPassword"
      type="password">
    <ng-container *ngIf="confirmPassword.touched">
      <span class="error"
         *ngIf="confirmPassword.errors?.required">
        Введите пароль ещё раз
      </span>
      <span class="error"
         *ngIf="confirmPassword.value !== password.value">
        Пароли не совпадают
      </span>
    </ng-container>
  </label>

  <label>
    <span>Email:</span>
    <input formControlName="email" type="email">
    <ng-container *ngIf="email.touched">
    <span class="error"
       *ngIf="email.errors?.required">
      Введите email
    </span>
    <span class="error"
       *ngIf="email.errors?.pattern">
      Неверный email
    </span>
    </ng-container>
  </label>

  <button type="submit" [disabled]="
  regForm.invalid
  || name.invalid
  || confirmPassword.invalid
  || password.invalid
  || email.invalid">
    Зарегистрироваться
  </button>
</form>
